.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    justify-content: space-between;
    flex: 1;
    height: 100%;
    align-items: stretch;
    padding-top: 70px;
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
}

.divider {
    height: 0.5px;
    background-color: rgba(0, 0, 0, 0.123);
    width: 100%;
}

@media (max-width: 1000px) {
    .main {
        flex-direction: column-reverse;
    }
}